body {
    font-family: 'Press Start 2P', cursive;
    
    background-color: #222;
  }
  

.btn-retro {
    font-size: 1.2rem;
    padding: 10px 20px;
    background: linear-gradient(45deg, #333, #444);
    color: #FFD700;
    text-shadow: 2px 2px #000;
    border: 3px solid #FFD700;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

.btn-retro:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #444, #555);
}

.game-container {
    background-color: #222;
    color: #FFD700;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#resultado {
    text-shadow: 2px 2px #000;
}